<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>板烧鸡腿堡</string>
		<key>icon</key>
		<string>bsjtb.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>吮指原味鸡</string>
		<key>icon</key>
		<string>szywj.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>香辣鸡腿堡</string>
		<key>icon</key>
		<string>xljtb.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>半鸡半虾堡</string>
		<key>icon</key>
		<string>bjbxb.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>老北京鸡肉卷</string>
		<key>icon</key>
		<string>lbjjrj.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>墨西哥鸡肉卷</string>
		<key>icon</key>
		<string>mxgjrj.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>可乐</string>
		<key>icon</key>
		<string>kl.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小薯</string>
		<key>icon</key>
		<string>xs.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>中薯</string>
		<key>icon</key>
		<string>zx.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>全家桶</string>
		<key>icon</key>
		<string>qjt.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>咖啡</string>
		<key>icon</key>
		<string>kf.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>蛋挞</string>
		<key>icon</key>
		<string>dt.gif</string>
	</dict>
</array>
</plist>
